<div class="container" style="background: white;">
  <h1>Введіть судоку</h1>
  <%= form_with url: sudoku_index_path, method: :post, local: true, data: { turbo: false } do |form| %>
    <table style="border: 3px solid black;">
      <% 9.times do |row| %>
        <tr>
          <% 9.times do |col| %>
            <td>
              <%= form.text_field "sudoku[#{row}][#{col}]", class: "sudoku-input", value: @solution[row][col], pattern: "[0-9]{1}", style: "width: 20px;" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <div class="button-panel">
      <%= button_tag "Рандом", type: "button", id: "randomize" %>
      <%= form.submit "Вирішити", name: "solve", class: "form-button" %>
      <%= form.submit "Перевірити", name: "check", class: "form-button" %>
    </div>
  <% end %>

  <% if @is_solved.present? %>
    <% if @is_solved == true %>
      <p>Судоку вирішено вірно!</p>
    <% else %>
      <%= @is_solved %>
      <p>Судоку вирішено не вірно!</p>
    <% end %>
  <% end %>

  <% if @cant_solve.present? %>
    <p>Немає рішень!</p>
  <% end %>
</div>


<style>

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1{
        color: black;
        font-size: 3rem;
        font-family: Tahoma, Geneva, sans-serif;
        margin-bottom: 1rem;
    }

    p {
        color: black;
        font-size: 1.5rem;
    }

    table {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
        border-radius: 20px;
    }

    table td {
        padding: 15px;
    }
    table thead td {
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }
    table tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    table tbody tr {
        background-color: #f9fafb;
    }
    table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .button-panel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0rem;
    }

    button{
        background: #2E2F30;
        color: white;
        padding: .7rem 1.2rem;
        border: none;
        border-radius: 20px;
    }

    .form-button{
        background: #2E2F30;
        color: white;
        padding: .7rem 1.2rem;
        border: none;
        border-radius: 20px;
    }

    button, input[type="submit"] {
        cursor: pointer;
    }

</style>